@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
  background-color:#00003b
}
h1{
  text-align: center;
  font-family: Quicksand, sans-serif;
    font-size: 45px;
    font-weight: bold;
    color:#cc003b
}
h2{
  text-align: left;
  font-family: Quicksand, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color:#cc003b
}
h3{
  text-align: left;
  font-family: Quicksand, sans-serif;
    font-size: 28px;
    font-weight: normal;
    font-style: italic;
    color:#cc003b
}
hr{
  padding:4px;
  background-color: #66003b;
  border-color: #66003b;
}
body{
  text-align: left;
  font-family: Quicksand, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:#cc003b
}
